/* -----------------------------about----------------------------- */
.about-container {
    width: 100%;
    height: 100%; /* full screen as 100% (plus header) */
    margin-top: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}