/* -----------------------------case----------------------------- */
.case-container {
    width: 100%;
    height: 100%; /* full screen as 100% (plus header) */
    margin-top: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .case-box{
        width: 70%;
        height: auto;
    }

    /* global value */
    .first-letter{
        display: inline-block;
        font-size: 5vmin;
        color: #FF2B6D;
        line-height: 0; /* Prevents the larger font size from affecting line height of surrounding text */
        vertical-align: baseline; /* Aligns the letter with the middle of the surrounding text */
        margin-right: 0.6vmin; 
    }

    .case-link{
        color: #FF2B6D;
        text-decoration: none;
    }
    
    .case-link:hover {
        border-bottom: 1.7px solid #FF2B6D;
    }

    .paragraph-space{
        height: 4vmin;
    }
    .small-paragraph-space{
        height: 2vmin;
    }

    .case-title{
        font-size: 4vmin;
    }

    .case-subtitle{
        font-size: 2.5vmin;
    }

    .case-content-detail{
        color: #707070;
        font-size: 2vmin;
    }

    .case-skills{
        width: 35%;
    }

    .case-skills-item {
        background-color: #fff; /* Light grey background */
        border: 1.2px solid #FF2B6D; /* Pink border */
        border-radius: 4px; /* Rounded corners */
        padding: 0.25vw 0.5vw;
        font-size: 1vw;
        text-align: center; /* Center the text */
        color: #FF2B6D; /* Dark grey text color for contrast */
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transformation and shadow on hover */
    }
    
    .case-skills-item:hover {
        background-color: #FF2B6D; /* Change background to pink on hover */
        color: #fff; /* Change text color to white on hover for better readability */
        transform: scale(1.05); /* Slightly increase size on hover for a dynamic effect */
    }

    /* ------------------------------------low fi------------------------------------ */
    .low-fi-container{
        padding: 0 7vmin;
    }
    .low-fi-image-container {
        padding: 1vmin;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* border: 1px solid #24454A; */
    }
    .low-fi-row{
        display: flex;
        flex-direction: row;
    }
    .low-fi-image-desktop {
        width: 55%;
        height: auto;
    }
    .low-fi-image-tablet {
        width: 100%;
        height: auto;
    }
    .low-fi-image-phone {
        width: 100%;
        height: auto;
    }
    .low-fi-caption{
        color: #707070;
        font-size: 1vw;
        text-align: center;
    }
    

    /* ------------------------------------high fi------------------------------------ */
    .high-fi-container{
        padding: 0 7vmin;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 4%;
        /* border: 1px solid #24454A; */
    }
    .high-fi-desktop{
        width: 41%;
        height: auto;
        border: 1px solid #24454A;
        object-fit: contain;
    }
    .high-fi-tablet{
        width: 28%;
        height: auto;
        border: 1px solid #24454A;
        object-fit: contain;
    }
    .high-fi-phone{
        width: 23%;
        height: auto;
        border: 1px solid #24454A;
        object-fit: contain;
    }
    



}