/* -----------------------------work----------------------------- */
.work-container {
    width: 100%;
    height: 100%; /* full screen as 100% (plus header) */
    margin-top: 10%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .work-box{
        width: 90%;
        height: auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        margin: auto;
    }

    .card {
        width: 500px;
        height: 400px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
        margin: 2vw;
        border-radius: 8px;
        cursor: pointer;
    }

    .card img{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}

